@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }

  header {
    background-image: url(../img/halo-infinite-cover.jpeg);
  }

  nav {
    background-color: rgba(255, 255, 255, 0.4);
  }

  nav ul li a {
    color: #000000;
  }

  nav ul li .link::before {
    background-color: #000000;
  }

  nav .mobile .header {
    background-color: rgba(255, 255, 255, 1);
  }

  nav .mobile .header a {
    color: #000000;
  }

  nav .mobile .header #bmenu {
    color: #000000;
  }

  nav .mobile .links {
    background-color: #ffffff;
  }

  nav .mobile .links a {
    color: #000000;
  }

  nav .mobile .links a:hover {
    color: #ffffff;
  }

  #banner {
    color: #000000;
    background-color: #ffffff;
  }

  h2::before {
    background-color: #9bf00b;
  }

  .green-button {
    background-color: #9bf00b;
    color: #054b16;
  }

  .green-button:hover {
    background-color: rgb(138, 207, 33);
  }

  .green-link {
    color: #9bf00b;
  }

  .green-link::before {
    background-color: #9bf00b;
  }

  h3 {
    color: #054b16;
  }

  #videos {
    color: #000000;
  }

  @media screen and (max-width: 1519px) {
    .info {
      background-color: rgba(255, 255, 255, 0.8);
      color: #000000;
    }
  }

  #get-the-game {
    color: #000000;
  }

  #get-the-game h2 {
    color: #000000;
  }

  footer {
    background-image: url(../img/master-chief.jpg);
  }
}

@media (prefers-color-scheme: dark) {

}